# -----------------
# Python
# -----------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Environment variables
.env

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# -----------------
# VS Code
# -----------------
.vscode/

# -----------------
# OS files
# -----------------
.DS_Store
Thumbs.db

# -----------------
# Flutter (frontend)
# -----------------
frontend/.dart_tool/
frontend/.packages
frontend/build/

# -----------------
# Testing / coverage
# -----------------
.coverage
htmlcov/

# -----------------
# Database temp
# -----------------
*.sqlite3